/* Device size (L) ≥1440px  */
@media screen and (min-width: 1440px) {
  /* @ layout----------------- */
  .header_group,
  .nav_section,
  .main_section,
  .filter_form {
    max-width: 1260px;
  }

  .header_group {
    padding: 0;
  }
  .main_section {
    padding: 32px 0px;
  }
}

/* 992px ≤ Device size(M) ≤ 1199px  */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* @ layout----------------- */
  .header_group,
  .nav_section,
  .main_section {
    max-width: 100%;
  }

  .header_group {
    padding: 0 36px;
  }
  .nav_container {
    padding: 24px 36px;
  }
  .main_section {
    padding: 32px 36px;
  }
  /* @ nav & filter form ----------------- */
  .form_wrapper .input_form_group {
    margin-top: var(--margin-s);
  }
}

/* ipad  */
@media screen and (max-width: 768px) {
  /* @ layout----------------- */
  .header_group,
  .nav_section,
  .main_section {
    max-width: 100%;
  }
  .header_group {
    padding: 0 24px;
  }
  .nav_container {
    padding: 24px 24px;
  }
  .main_section {
    padding: 24px 12px;
  }
  .input_row_col {
    width: 100%;
  }
  /* @ nav & filter form ----------------- */
  .form_wrapper .input_form_group {
    margin-top: var(--margin-s);
  }
}

@media screen and (max-width: 500px) {
  /* @ layout----------------- */
  .header_group,
  .nav_section,
  .main_section {
    width: 100%;
  }

  .header_group {
    padding: 0 24px;
  }
  .nav_container {
    padding: 24px 24px;
  }
  .main_section {
    padding: 24px 12px;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    height: auto;
    padding-bottom: 200px;
  }
  /* @ header ----------------- */
  .header_search_group {
    width: 42%;
  }
  /* @ nav & filter form ----------------- */
  .filter_form .form_wrapper {
    flex-direction: column;
  }
  .input_row_col {
    width: 100%;
    margin-bottom: 6px;
  }
  .form_wrapper .input_form_group:last-child {
    margin-right: 0;
  }
  .icon_text_btn {
    width: 44px;
    height: 44px;
  }
  .icon_text_btn i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
  .icon_text_btn img {
    width: 24px;
    height: 24px;
  }
  .icon_text_btn span {
    display: none;
  }
  /* @ main_section ----------------- */
  .card_wrapper {
    width: 100%;
  }
}
